[submodule "FormRx"]
	path = FormRx
	url = https://github.com/rusted-coil/FormRx.git
[submodule "Gen4RNGLib"]
	path = Gen4RNGLib
	url = https://github.com/rusted-coil/Gen4RNGLib.git
[submodule "PKHeXUtilLib"]
	path = PKHeXUtilLib
	url = https://github.com/rusted-coil/PKHeXUtilLib.git
[submodule "PKHeXUtilForms"]
	path = PKHeXUtilForms
	url = https://github.com/rusted-coil/PKHeXUtilForms.git
